* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    width: 90%;
    margin: 0 auto;
    min-height: 3rem;
    padding: .4rem 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: #f32430;
    padding: 0 2rem;
}

.logo {
    font-size: 25px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.navbar .container ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .container ul li {
    background-color: #ddd;
    margin: 0, 5px;
    color: #000;
    padding: 1rem;
    border-radius: 10px;
}

header {
    width: 90%
}